<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

	<h1>Gallery</h1>
	<p>Gallery data view.</p>
	<img alt="" th:src="@{/assets/androidlogo.jpeg}" />

	<p th:text="${tagbro1}"></p>
	<p th:text="${tagbro2}"></p>

	
	<!-- <tr th:each="message : ${messages}">
		<td th:text="${message.id}">1</td>
		<td><a href="#" th:text="${message.title}">Title ...</a></td>
		<td th:text="${message.text}">Text ...</td>
	</tr> -->

</body>
</html>